.headerShell{
    z-index: 5;
}

@media(min-width: 800px){
    .menuBtn{
        display: none;
    }

    .headerShell{
        position: fixed;
        background-color: black;
        border-bottom: 1px solid white;
        height: 8%;
        width: 98%;
        top: 0;
        box-shadow: 0 10px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .logoImg{
        height: 90%;
        position: absolute;
        left: 0px;
    }
    
    .divLinks{
        position: absolute;
        display: flex;
        height: 100%;
        right: 1px;
        color: white;
        align-items: center;
    }
    
    .myLink{
        color: white;
        margin-top: 20px !important;
        margin-right: 25px;
        font-size: 30px;
        text-decoration: none;
        transition: .2s;
    }
    
    .myLink:hover{
        transform: scale(1.2);
    }

    
}

@media(max-width: 799px){
    .headerShell{
        position: fixed;
        background-color: black;
        border-bottom: 1px solid white;
        height: 8%;
        width: 97% !important;
        top: 0;
        box-shadow: 0 10px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .titleDiv{
        display: grid;
        height: 100px;
        background-color: #353434;
        font-size: 30px;
        color: white;
        align-items: center;
        justify-items: center;
    } 

    .titlePara{
        margin: 0%;
    }

    .logoImg{
        height: 90%;
        position: absolute;
        right: 0px;
    }

    .mobMenuIcon{
        color: white;
        margin-bottom: -5px;
        margin-top: 10px;
    }

    .divLinks{
      display: none;
    }

    .menuBtn{
        position: absolute;
        left: 15px;
        top: 10px;
    }
    .menuBtn:hover{ 
        cursor: pointer;
    }

    .links{
        display: grid;
        grid-template-columns: 20% 80%;
        font-size: 20px;
        margin-left: 20px !important;
    }

    .myLink{
        color: white;
        margin-top: 10px;
    }

    .mobResLink{
        color: white;
        margin-top: 10px;
    }

    .desktopResLink{
        display: none;
    }
    
    .drawerLogo{
        position: absolute;
        bottom: 25%;
        left: -20px;
        width: 120%;
    }

    
}


