@media(max-width: 799px){
    .parallax-tilt-effect-two {
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 65vh;
        background-color: #353434;
        color: white;
        border-radius: 20px;
        transform-style: preserve-3d;
        margin-bottom: 200px;
      }
      
        .inner-element-three {
          position: relative;  
          top: 110%;
          left: 5px;
          width: 45%;
          transform: translateZ(25px);
        }
      
        .cardTitle{
            color: goldenrod;
            font-style: italic;
        }
        .cardName{
            font-size: 15px !important;
        }
      
        .cardLogo{
            width: 80%;
            margin-top: 10px;
        }

        .mobileCardHr{
            background-color: goldenrod !important;
            height: 45vh;
            margin-top: -20%;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            
            width: 1px;
        }
      
        .inner-element-four {
          position: relative;
          bottom: 120%;
          width: 50%;
          margin-left: auto;
          color: white;
          transform: translateZ(10px);
        }

        .cardIcon{
            position: absolute;
            color: goldenrod;
            left: 5px;
            margin-top: -8px;
        }
      
        .fallow{
            margin-top: 30px;
            font-size: 8px;
            color: white;
            padding: 0px;
        }
      
        .cardEmail{
            color: white;
            left: 0px;
            margin-left: 40px;
        }
      
        .cardPhone{
            color: white;
            margin-left: 40px;
        }
      
        .cardLinked{
            color: white;
            margin-left: 40px;
        }
      
}


@media(min-width: 800px){
    .parallax-tilt-effect-two{
        display: none;
    }
}

